<h1 class="first">お知らせ一覧 <small>- Notifications</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @notifications.each do |notification| %>
      <tr class="pointer-cursor" data-href="<%= admin_notification_path(notification) %>">
        <td><%= notification.content[0...16] %>...</td>
        <td>
          <%= admin_edit_btn edit_admin_notification_path(notification) %>
          <%= admin_destroy_btn admin_notification_path(notification) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_admin_notification_path %>
