<h1 class="first">お知らせ一覧 <small>- Notifications</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @notifications.each do |notification| %>
      <tr class="pointer-cursor" data-href="<%= admin_notification_path(notification) %>">
        <td><%= notification.content[0...16] %>...</td>
        <td>
          <%= admin_action_btn 'Edit', edit_admin_notification_path(notification) %>
          <%= admin_action_btn 'Destroy', admin_notification_path(notification), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_admin_notification_path %>
