<h1 class="first">実績一覧 <small>- Achievements</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @achievements.each do |achievement| %>
      <tr class="pointer-cursor" data-href="<%= admin_achievement_path(achievement) %>">
        <td><%= achievement.name %></td>
        <td>
          <%= admin_edit_btn edit_admin_achievement_path(achievement) %>
          <%= admin_destroy_btn admin_achievement_path(achievement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Achievement', new_admin_achievement_path %>
