<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Name:</span class="pink">
  <%= @achievement.name %>
</p>

<p class="lead">
  <span class="pink">Condition:</span class="pink">
  <%= @achievement.condition %>
</p>

<p class="lead">
  <span class="pink">Description:</span class="pink">
  <%= @achievement.description %>
</p>

<p class="lead">
  <span class="pink">Icon:</span class="pink">
    <%= image_tag(@achievement.icon_url) if @achievement.icon_url.present? %>
</p>

<%= admin_edit_btn edit_admin_achievement_path(@achievement) %>
<%= admin_back_btn admin_achievements_path %>
