<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Name:</span>
  <%= @treasure.name %>
</p>

<p class="lead">
  <span class="pink">Description:</span>
  <%= @treasure.description %>
</p>

<p class="lead">
  <span class="pink">Image_url:</span>
  <%= image_tag(@treasure.image_url) if @treasure.image_url.present? %>
</p>

<%= admin_edit_btn edit_admin_treasure_path(@treasure) %>
<%= admin_back_btn admin_treasures_path %>
