<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Bound Name:</span>
  <%= @bound.name %>
  <%= render @beacons %>
</p>

<%= admin_edit_btn edit_admin_bound_path(@bound) %>
<%= admin_back_btn admin_bounds_path %>