<%= form_for([:admin, @exhibition]) do |f| %>
  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibition.errors.count, "error") %> prohibited this admin_exhibition from being saved:</h2>

      <ul>
      <% @exhibition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <span class="pink"><%= f.label :name %></span class="pink"><br>
      <%= f.text_field :name %>
  </div>
  <div class="field">
    <span class="pink"><%= f.label :introduction %></span class="pink"><br>
    <%= f.text_field :introduction %>
  </div>
  <div class="field">
    <span class="pink"><%= f.label :image_url %></span class="pink"><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <span class="pink"><%= f.label :group_id %></span class="pink"><br>
    <%= f.select :group_id, @groups.map { |g| [g.name, g.id] } %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
  <br>
<% end %>
