<h1 class="first">展示一覧 <small>- Exhibitions</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @exhibitions.each do |exhibition| %>
      <tr class="pointer-cursor" data-href="<%= admin_exhibition_path(exhibition) %>">
        <td><%= exhibition.name %></td>
        <td><%= exhibition.group_id %></td>
        <td>
          <%= admin_action_btn 'Edit', edit_admin_exhibition_path(exhibition) %>
          <%= admin_destroy_btn admin_exhibition_path(exhibition), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exhibition', new_admin_exhibition_path %>
