<h1 class="first">管理者一覧 <small>- Admins</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @admins.each do |admin| %>
      <tr class="pointer-cursor" data-href="<%= admin_admin_path(admin) %>">
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.sign_in_count %> sign in</td>
        <td><%= admin.last_sign_in_at.to_s(:db) %></td>
        <td><%= admin.created_at.to_s(:db) %></td>
        <td>
          <%= admin_destroy_btn admin_admin_path(admin) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_admin_admin_path %>
