<h1><strong>グ</strong>ループ(部活)一覧 <small>- Group</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @groups.each do |group| %>
      <tr class="pointer-cursor" data-href="<%= admin_group_path(group) %>">
        <td><%= group.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_group_path(group), class: "btn btn-primary" %>
          <%= link_to 'Destroy', admin_group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_admin_group_path %>
