<h1 class="first">グループ(部活)一覧 <small>- Groups</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @groups.each do |group| %>
      <tr class="pointer-cursor" data-href="<%= admin_group_path(group) %>">
        <td><%= group.name %></td>
        <td>
          <%= admin_action_btn 'Edit', edit_admin_group_path(group) %>
          <%= admin_destroy_btn admin_group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_admin_group_path %>
