<h1 class="first">グループ一覧 <small>- Groups</small></h1>
<br>

<table class="table table-hover table-row-clickable">

  <tbody>
    <% @groups.each do |group| %>
      <tr class="pointer-cursor" data-href="<%= admin_group_path(group) %>">
        <td><%= group.name %></td>
        <td>
          <%= admin_edit_btn edit_admin_group_path(group) %>
          <%= admin_destroy_btn admin_group_path(group) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_admin_group_path %>
