<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Name:</span>
  <%= @user.name %>
</p>

<p class="lead">
  <span class="pink">Screen name:</span>
  <%= @user.screen_name %>
</p>

<p class="lead">
  <span class="pink">Image:</span>
  <%= @user.image_url %>
</p>

<%= link_to 'Back', admin_groups_path %>
