  <h4>Beacon<%= @beacons.index(beacon)+1 %>
    <%= admin_edit_btn_sm edit_admin_bound_beacon_path(beacon.bound, beacon) %>
    <%= admin_destroy_btn_sm admin_bound_beacon_path(beacon.bound,beacon) %>
  </h4>
  <p class="lead">UUID: <%= beacon.uuid %></p>

  <div class="row">
    <div class="col-md-4">
      <p class="lead">minor: <%= beacon.minor %></p>
      <p class="lead">latitude: <%= beacon.latitude %></p>
    </div>
    <div class="col-md-4">
      <p class="lead">major: <%= beacon.major %></p>
      <p class="lead">longitude: <%= beacon.longitude %></p>
    </div>
    <div class="col-md-4">
      <p class="lead">floor: <%= beacon.floor %></p>
    </div>
  </div>
  <br>